<?xml version="1.0" encoding="utf-8" ?>
<ctConfig>
  <default facility="1" prio="3">ctSyslog</default>
  <file filename="C:\Thomas.txt" facility="5" prio="3" complete="false">ThomasTag</file>
  <nofile filename="C:\Windows\WindowsUpdate.log" facility="2" prio="3" complete="false">MoTag</nofile>
  <nofile filename="C:\Flubber.txt" facility="5" prio="3">FlubTag</nofile>
  <eventlog eventlog="Application" facility="5" prio="3">AppTag</eventlog>
  <eventlog eventlog="System" facility="5" prio="3">SysTag</eventlog>
  <eventlog eventlog="Security" facility="5" prio="3">SysTag</eventlog>
  <!-- Via Logstash - Direkt -->
  <syslogserver ip="10.0.100.181" port="6688" hostname="devserver">dotnet</syslogserver>
  <!-- Via rsyslog -->
  <!-- <syslogserver ip="10.0.100.181" port="514" hostname="devserver">dotnet</syslogserver> -->
</ctConfig>
