<?xml version="1.0" encoding="utf-8" ?>
<ctConfig>
  <default 
    facility="1" prio="3">
    ctSyslog
  </default>
  <files>
    <file
      filename="C:\Thomas.txt" 
      facility="5" prio="3" 
      complete="false">
      FileTag
    </file>
  </files>
  <dirs>
    <dir dirname="C:\Thomas" 
      filefilter="log"
      facility="5" prio="3">
      DirTag
    </dir>
  </dirs>
  <eventlogs>
    <eventlog 
      eventlog="Application" facility="5" prio="3">
      AppTag
    </eventlog>
    <eventlog 
      eventlog="System" facility="5" prio="3">
      SysTag
    </eventlog>
    <eventlog 
      eventlog="Security" facility="5" prio="3">
      SecTag
    </eventlog>
  </eventlogs>
  <!-- Via Logstash - Direkt -->
  <syslogserver 
    ip="10.0.100.181"
    port="6688" 
    hostname="devserver" 
    service="udp" 
    format="PRI,TIMESTAMP,SP,HOST,SP,SOURCE,:,SP,TYPE,SP,MSG"
    timeformat="yyyy-MM-ddTHH:mm:ss.ffZ"
    appnamelength="100">
    dotnet
  </syslogserver>
  <!-- Via rsyslog -->
  <!-- <syslogserver ip="10.0.100.181" port="514" hostname="devserver" service="udp">dotnet</syslogserver> -->
</ctConfig>